@charset "UTF-8";
/* IMAGENES DE LOS BOTONES */
.img-btn {
  width: 10%;
  margin-left: 0.5rem;
  margin-right: 1.5rem;
}
/* LIMPIANDO BOTONES */
.limpiador-botones{
  padding: 5px 0px 5px 15px;
  border: 0px solid rgba(0, 255, 255, 0);
  background: rgba(0, 255, 255, 0);
  text-align: left;
}
.limpiador-botones2{
  border: 0px solid rgba(0, 255, 255, 0);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0);
  text-align: center;
}
.btn:hover .limpiador-botones2{
  border-radius: 15px;
  color: #fcfcfc;
}
.limpiador-botones:hover {

  background: rgba(0, 0, 0, 0.61);
  border-radius: 15px;

}
/* TAMAÑO DE LA BARRA QUE SE DESPLIEGA - VERTICALMENTE */
div#mainHeader {
  height: 100%;
  left: 0;
  transition: left 0.5s ease-in-out 0.2s;
  position: fixed;
  display: inline-block;
}
/* TAMAÑO DE LA BARRA ESTÁTICA */
div#mainHeader nav {
  height: 100vh;
  width: 100px;
}
div#mainHeader nav .top-header {
  
  position: relative;
}

/* NO TOCAR, PERO SI EL COLOR. DETALLES DE LA BARRA QUE SE DESPLIEGA*/
div#mainHeader nav:before {
  content: " ";
  height: 100%;
  width: 0px;
  background-color: #424a5ce0;
  position: absolute;
  left: 100px;
  transition: width 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
div#mainHeader nav .navg {
  cursor: pointer;
  width: 100%;
  height: 45px;
}
/* PUNTOS DE ARRIBA A LA IZ */
div#mainHeader nav .navg .efect {
  margin-left: 36px;
  margin-top: 30px;
  cursor: pointer;

}
div#mainHeader nav .navg .efect, div#mainHeader nav .navg .efect::before, div#mainHeader nav .navg .efect::after {
  border-radius: 2px;
  position: absolute;
  z-index: 5;
  width: 24px;
  height: 4px;
  background: rgb(14, 14, 14);
  transition: all 0.3s;
}
div#mainHeader nav .navg .efect::before, div#mainHeader nav .navg .efect::after {
  content: "";
  display: block;
}
div#mainHeader nav .navg .efect::before {
  margin-top: -8px;
}
div#mainHeader nav .navg .efect::after {
  margin-top: 8px;
}
/* BARRA ESTÁTICA, ESPECÍFICACIONES */
div#mainHeader nav ul {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 65px;
  margin-top: calc(45vh - 160px);
  /* background-image: url(../assets/intranet/parque_tecnologico/iconos/teclado.png); */
}
/* TEXO DE LA BARRA */
div#mainHeader nav ul li {
  font-size: 1rem;
  width: 140px;
  height: 40px; 

  margin-top: 20px;

  cursor: pointer;
  position: relative;
  display: block;
}

/* ELEGIR TAMAÑO DE LOS BOTONES */
div#mainHeader nav ul li button {
  position: relative;
  z-index: 100;
  opacity: 1;
  top: 5px;
  left: -400px;
  width: 400px;
  transition: left 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045), opacity 0.15s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  color: #fcfcfc;
  text-decoration:none;
}
/* CÍRCULOS DE LA BARRA LATERAL */
div#mainHeader nav ul li:before {
  content: " ";
  width: 20px;
  height: 20px;
  /* margin-top: 6px; */

  background-color: transparent;
  position: absolute;
  left: 40px;
  top: 20px;
  border-radius: 50%;
  border: 2px solid white;
  transform: scale(1) translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out;
}
/* COLOR DEL CENTRO DE LOS PUNTOS */
div#mainHeader nav ul li:hover:before {
  background-color: rgb(80, 76, 76);
  
}
/* TAMAÑO DE LA BARRA QUE SE DESPLIEGA HORIZONTALMENTE */
/* TRANSICION DE LA BARRA LATERAL CUANDO SE HACE HOVER*/
div#mainHeader nav:hover:before {
  width: 400px;
  transition: width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
div#mainHeader nav:hover .efect {
  /* 		background:transparent; */
  transform: rotate(45deg) translate3d(0, 0, 0);
}
div#mainHeader nav:hover .efect::before {
  margin-top: 0px;
  transform: rotate(-90deg) translate3d(0, 0, 0);
}
div#mainHeader nav:hover .efect::after {
  margin-top: 0px;
  transform: rotate(0deg) translate3d(0, 0, 0);
}
/* INTENTANDO HACER LO MISMO PERO CON BOTONES */
div#mainHeader nav:hover li button {
  left: 100px;
  opacity: 1;
  transition-duration: .6s;
  transition-property: left, opacity;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
div#mainHeader nav:hover li button a {
  font-size: 1rem;
}
#enl_barra:hover{
  color: rgb(70, 181, 255);
}

/* *********************************************************************************************************************************************************************************************** */
/* AQUÍ COLOCAREMOS LA REDUCCIÓN DE LA BARRA */
@media (max-width: 1550px) {
  /* TEXO DE LA BARRA */
  div#mainHeader nav ul li{
    font-size: .9rem;
    width: 120px;

  }

    /* TAMAÑO DE LA BARRA QUE SE DESPLIEGA HORIZONTALMENTE */
  div#mainHeader nav:hover:before{
    width: 300px;
  }  
  /* AQUÍ CAMBIAN VARIOS A LA VEZ */
    /* TAMAÑO DE LA BARRA ESTÁTICA */
    div#mainHeader nav{
      width: 90px;
    }
    /* DETALLES DE LA BARRA QUE SE DESPLIEGA*/
    div#mainHeader nav:before{
      left: 90px;
    }
    /* CÍRCULOS DE LA BARRA LATERAL */
    div#mainHeader nav ul li:before{
      width: 16px;
      height: 16px;
      left: 35px;      
    }
    /* TAMAÑO DE LOS BOTONES */
    div#mainHeader nav ul li button {
      width: 270px;
    }
    /* TANSICION DE LOS BOTONES QUE APARECEN */
    div#mainHeader nav:hover li button {
      left: 90px;
      top: 8px;
    }

    /* PUNTOS DE ARRIBA A LA IZ */
    div#mainHeader nav .navg .efect {
      margin-left: 32px;

    }
        /* IMAGENES EN LOS BOTONES */
        .img-btn {
          margin-left: 0.3rem;
          margin-right: 1rem;
        }

}
@media  (max-width: 1490px) {
  /* TEXO DE LA BARRA */
  div#mainHeader nav ul li{
    font-size: .8rem;
    width: 100px;
  }

    /* TAMAÑO DE LA BARRA QUE SE DESPLIEGA HORIZONTALMENTE */
  div#mainHeader nav:hover:before{
    width: 240px;
  }  
  /* AQUÍ CAMBIAN VARIOS A LA VEZ */
    /* TAMAÑO DE LA BARRA ESTÁTICA */
    div#mainHeader nav{
      width: 60px;
    }
    /* DETALLES DE LA BARRA QUE SE DESPLIEGA*/
    div#mainHeader nav:before{
      left: 60px;
    }
    /* CÍRCULOS DE LA BARRA LATERAL */
    div#mainHeader nav ul li:before{
      width: 16px;
      height: 16px;
      left: 20px;      
    }
    /* TAMAÑO DE LOS BOTONES */
    div#mainHeader nav ul li button {
      width: 230px;
    }
    /* TANSICION DE LOS BOTONES QUE APARECEN */
    div#mainHeader nav:hover li button {
      left: 60px;
      top: 8px;
    }

    /* PUNTOS DE ARRIBA A LA IZ */
    div#mainHeader nav .navg .efect {
      margin-left: 16px;

    }
        /* IMAGENES EN LOS BOTONES */
        .img-btn {
          margin-left: 0.2rem;
          margin-right: .8rem;
        }
}
@media  (max-width: 1285px) {
  /* TEXO DE LA BARRA */
  div#mainHeader nav ul li{
    font-size: .8rem;
    width: 100px;
  }

    /* TAMAÑO DE LA BARRA QUE SE DESPLIEGA HORIZONTALMENTE */
  div#mainHeader nav:hover:before{
    width: 220px;
  }  
  /* AQUÍ CAMBIAN VARIOS A LA VEZ */
    /* TAMAÑO DE LA BARRA ESTÁTICA */
    div#mainHeader nav{
      width: 50px;
    }
    /* DETALLES DE LA BARRA QUE SE DESPLIEGA*/
    div#mainHeader nav:before{
      left: 50px;
    }
    /* CÍRCULOS DE LA BARRA LATERAL */
    div#mainHeader nav ul li:before{
      width: 16px;
      height: 16px;
      left: 16px;      
    }
    /* TAMAÑO DE LOS BOTONES */
    div#mainHeader nav ul li button {
      width: 210px;
    }
    /* TANSICION DE LOS BOTONES QUE APARECEN */
    div#mainHeader nav:hover li button {
      left: 50px;
      top: 8px;
    }

    /* PUNTOS DE ARRIBA A LA IZ */
    div#mainHeader nav .navg .efect {
      margin-left: 12px;

    }
    /* IMAGENES EN LOS BOTONES */
    .img-btn {
      margin-left: 0.1rem;
      margin-right: .5rem;
    }
}
